# Infra local (compose)
POSTGRES_DB=financy
POSTGRES_USER=financy_user
POSTGRES_PASSWORD=financy_password
POSTGRES_PORT=5432

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET=financy
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001